@import "tailwindcss";

:root {
  --bg-primary: #60a5fa; /* Tailwind's blue-400 */
}

body {
  margin: 0;
}

* {
  font-family: 'Inter', 'Segoe UI', 'Roboto', sans-serif;
}

.bg-primary-color{
    background-color: var(--bg-primary);
}